@media (min-width: 992px) {
  .top-bg-container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
  }
  .bg-container {
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-container {
    list-style-type: none;
  }
  .emoji-container {
    background-color: #ffffff33;
    border: 0 none;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
  }
  .emoji-image {
    height: 10vh;
    width: 5vw;
  }
  .ul-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 50vw;
    flex-wrap: wrap;
  }
  .nav-container {
    background-color: #ffffff33;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .image-heading {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
  }
  .logo-image {
    height: 5vh;
    width: 3vw;
    margin-top: 5px;
  }
  .heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
  }
  .para {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
  }
  .score-container {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
  }

  .Won-container {
    background-color: #ffffff33;
    height: 60vh;
    width: 50vw;
    align-self: center;
    border: 0 none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .won-data-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .won-heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 35px;
  }
  .won-para {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
  }
  .won-para1 {
    color: #6a59ff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
  }
  .play-again-btn {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: #3d3d3d;
    background-color: #ffce27;
    border: 0 none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  .won-image {
    height: 40vh;
    margin-right: 20px;
    width: 17vw;
  }
  .top-bg-container1 {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    display: flex;
    flex-direction: column;
  }
  .img-button {
    border: 0 none;
    background-color: transparent;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .top-bg-container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
  }
  .bg-container {
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-container {
    list-style-type: none;
  }
  .emoji-container {
    background-color: #ffffff33;
    border: 0 none;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
  }
  .emoji-image {
    height: 10vh;
    width: 5vw;
  }
  .ul-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 70vw;
    flex-wrap: wrap;
  }
  .nav-container {
    background-color: #ffffff33;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .image-heading {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
  }
  .logo-image {
    height: 5vh;
    width: 3vw;
    margin-top: 5px;
  }
  .heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
  }
  .para {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
  }
  .score-container {
    display: flex;
    flex-direction: row;
    margin-right: 70px;
  }

  .Won-container {
    background-color: #ffffff33;
    height: 60vh;
    width: 50vw;
    align-self: center;
    border: 0 none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .won-data-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .won-heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 35px;
  }
  .won-para {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
  }
  .won-para1 {
    color: #6a59ff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
  }
  .play-again-btn {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: #3d3d3d;
    background-color: #ffce27;
    border: 0 none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  .won-image {
    height: 40vh;
    margin-right: 20px;
    width: 17vw;
  }
  .top-bg-container1 {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    display: flex;
    flex-direction: column;
  }
  .img-button {
    border: 0 none;
    background-color: transparent;
  }
}
@media (max-width: 576px) {
  .top-bg-container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
  }
  .bg-container {
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-container {
    list-style-type: none;
  }
  .emoji-container {
    background-color: #ffffff33;
    border: 0 none;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
  }
  .emoji-image {
    height: 10vh;
    width: 10vw;
  }
  .ul-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100vw;
    flex-wrap: wrap;
  }
  .nav-container {
    background-color: #ffffff33;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .image-heading {
    display: flex;
    flex-direction: row;
  }
  .logo-image {
    height: 5vh;
    width: 5vw;
    margin-top: 5px;
  }
  .heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
  }
  .para {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
  }
  .score-container {
    display: flex;
    flex-direction: row;
  }

  .Won-container {
    background-color: #ffffff33;
    height: 50vh;
    width: 90vw;
    align-self: center;
    border: 0 none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .won-data-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .won-heading {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 35px;
  }
  .won-para {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
  }
  .won-para1 {
    color: #6a59ff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
  }
  .play-again-btn {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: #3d3d3d;
    background-color: #ffce27;
    border: 0 none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  .won-image {
    height: 40vh;
    margin-right: 50px;
    width: 17vw;
  }
  .top-bg-container1 {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    display: flex;
    flex-direction: column;
  }
  .img-button {
    border: 0 none;
    background-color: transparent;
  }
}

